{% extends 'base.html' %} {% block content %}
<h2>Generar Certificado</h2>
<form method="post">
  <label>Catequizando:</label><br />
  <select name="catequizando_id">
    {% for c in catequizandos %}
    <option value="{{ c.id }}">
      {{ c.persona.nombres }} {{ c.persona.apellidos }}
    </option>
    {% endfor %}</select
  ><br />

  <label>Nivel:</label><br />
  <select name="nivel_id">
    {% for n in niveles %}
    <option value="{{ n.id }}">{{ n.nombre }}</option>
    {% endfor %}</select
  ><br /><br />

  <input type="submit" value="Emitir Certificado" />
</form>
{% endblock %}
