{% extends 'base.html' %} {% block content %}
<h2>Historial de asistencias</h2>
<a href="{{ url_for('mainRoutes.registrarAsistencia') }}"
  >Registrar asistencia</a
>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Catequizando</th>
      <th>Nivel</th>
      <!-- ← nuevo -->
      <th>Fecha</th>
      <th>Asistió</th>
    </tr>
  </thead>
  <tbody>
    {% for a in asistencias %}
    <tr>
      <td>{{ a.id }}</td>
      <td>
        {{ a.catequizando.persona.nombres }} {{ a.catequizando.persona.apellidos
        }}
      </td>
      <td>{{ a.grupo.nivel.nombre }}</td>
      <!-- usamos relación grupo→nivel -->
      <td>{{ a.fecha }}</td>
      <td>{{ 'Sí' if a.estado else 'No' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
