{% extends 'base.html' %} {% block content %}
<h2>Registrar asistencia</h2>

<form method="post">
  <label>Nivel:</label>
  <select name="nivel_id" required>
    {% for n in niveles %}
    <option value="{{ n.id }}">{{ n.nombre }}</option>
    {% endfor %}</select
  ><br />

  <label>Catequizando:</label>
  <select name="catequizando_id" required>
    {% for c in catequizandos %}
    <option value="{{ c.id }}">
      {{ c.persona.nombres }} {{ c.persona.apellidos }}
    </option>
    {% endfor %}</select
  ><br />

  <label>Fecha:</label>
  <input
    type="date"
    name="fecha"
    value="{{ (today|default('')) }}"
    required
  /><br />

  <label>Estado:</label>
  <select name="estado" required>
    <option value="P">Presente</option>
    <option value="A">Ausente</option>
    <option value="J">Justificado</option></select
  ><br /><br />

  <button type="submit">Guardar</button>
</form>
{% endblock %}
