{% extends 'base.html' %} {% block content %}
<h2>Editar Parroquia</h2>
<form method="post">
  <label>Nombre:</label><br />
  <input type="text" name="nombre" value="{{ parroquia.nombre }}" /><br />

  <label>Dirección:</label><br />
  <input type="text" name="direccion" value="{{ parroquia.direccion }}" /><br />

  <label>Teléfono:</label><br />
  <input type="text" name="telefono" value="{{ parroquia.telefono }}" /><br />

  <label>¿Es parroquia principal?</label>
  <input
    type="checkbox"
    name="esPrincipal"
    {%
    if
    parroquia.es_Principal
    %}checked{%
    endif%}
  /><br />

  <label>Fecha de Fundación:</label><br />
  <input
    type="date"
    name="fechaFundacion"
    value="{{ parroquia.fecha_Fundacion }}"
  /><br />

  <label>Historia:</label><br />
  <textarea name="historia">{{ parroquia.historia }}</textarea><br />

  <label>Horarios de Atención:</label><br />
  <input
    type="text"
    name="horariosAtencion"
    value="{{ parroquia.horarios_Atencion }}"
  /><br />

  <label>Sitio Web:</label><br />
  <input type="text" name="sitioWeb" value="{{ parroquia.sitio_Web }}" /><br />

  <label>Email:</label><br />
  <input type="email" name="email" value="{{ parroquia.email }}" /><br /><br />

  <input type="submit" value="Actualizar" />
</form>
{% endblock %}
