{% extends 'base.html' %} {% block content %}

<h2>Editar parroquia</h2>

<form method="POST">
  <label>Nombre:</label><br />
  <input
    type="text"
    name="nombre"
    value="{{ parroquia.nombre }}"
    required
  /><br />

  <label>Dirección:</label><br />
  <input
    type="text"
    name="direccion"
    value="{{ parroquia.direccion }}"
    required
  /><br />

  <label>Teléfono:</label><br />
  <input type="text" name="telefono" value="{{ parroquia.telefono }}" /><br />

  <label>
    <input
      type="checkbox"
      name="es_principal"
      {%
      if
      parroquia
      and
      parroquia.es_principal
      %}checked{%
      endif
      %}
    />
    ¿Es parroquia principal? </label
  ><br />

  <label>Fecha de fundación:</label><br />
  <input
    type="date"
    name="fecha_Fundacion"
    value="{{ parroquia.fecha_Fundacion }}"
  /><br />

  <label>Historia:</label><br />
  <textarea name="historia">{{ parroquia.historia }}</textarea><br />

  <label>Horarios de atención:</label><br />
  <input
    type="text"
    name="horarios_Atencion"
    value="{{ parroquia.horarios_Atencion }}"
  /><br />

  <label>Sitio web:</label><br />
  <input type="text" name="sitio_Web" value="{{ parroquia.sitio_Web }}" /><br />

  <label>Email:</label><br />
  <input type="email" name="email" value="{{ parroquia.email }}" /><br /><br />

  <button type="submit">Actualizar</button>
</form>

{% endblock %}
