{% extends 'base.html' %} {% block content %}
<h2>Listado de Parroquias</h2>
<a href="{{ url_for('mainRoutes.crearParroquia') }}">Nueva Parroquia</a>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Principal</th>
    </tr>
  </thead>
  <tbody>
    {% for par in parroquias %}
    <tr>
      <td>{{ par.id }}</td>
      <td>{{ par.nombre }}</td>
      <td>{{ par.direccion }}</td>
      <td>{{ par.telefono }}</td>
      <td>{{ 'Sí' if par.esPrincipal else 'No' }}</td>
      <td>
        <a href="{{ url_for('mainRoutes.editarParroquia', id=par.id) }}"
          >Editar</a
        >
        |
        <form
          method="post"
          action="{{ url_for('mainRoutes.eliminarParroquia', id=par.id) }}"
          style="display: inline"
        >
          <button
            type="submit"
            onclick="return confirm('¿Eliminar esta parroquia?')"
          >
            Eliminar
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
